services:
  memoir-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: memoir-app:latest
    container_name: memoir-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
